@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

.apresentacao {
  font-family: 'Nunito', sans-serif;
  color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em 1em 0;
  text-align: justify;
}

.mainApresentacao {
  border-radius: .5em;
  background: #e1e1e1;
}

.apresentacao h2, h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: .1em;
}

.apresentacao h2 {
  font-size: 1.57em;
}

.apresentacao h3 {
  font-weight: 600;
}

.apresentacao p {
  text-indent: 1em;
  font-size: 1.1em;
  padding: 0 .5em;
  box-sizing: border-box;
}

.apresentacao article {
  margin-bottom: 5em;
}

.apresentacao img {
  display: flex;
  margin: 0 auto 2em;
}

.arteDuvida {
  width: 145px;
}

.arteEspecialistas {
  width: 270px;
}

.arteEscolha {
  width: 230px;
}

.botaoSaibaMais {
  width: 70%;
  margin: 1em auto 0;
  display: flex;
  justify-content: center;
  background: #4E54C8;
  border-radius: .3em;
  padding: .5em 1em;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none;
}

footer {
  display: flex;
  margin: 4em auto 0;
}

footer .footerContainer {
  background: linear-gradient(249.52deg, #3AC1F0 0%, #4E54C8 100%);
  height: 90px;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: .9em .9em 0 0;
  padding: 0 1em;
  box-sizing: border-box;
}

footer .logoFooter {
  width: 70px;
}

footer p {
  text-align: center;
  width: 90px;
}

footer .redesSociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.redesSociais h4 {
  text-transform: lowercase;
  letter-spacing: .05em;
  height: 15px;
}

.redesSociais .icones {
  margin-top: .3em;
  list-style: none;
  display: flex;
  font-size: 2.3em;
  
}


.redesSociais .icones i {
  padding: .2em;
}



@media (min-width: 940px) {
  .apresentacao {
    width: 70%;
    flex-wrap: wrap;
    margin: 3em auto;
  }

  .mainApresentacao {
    margin: 0 auto;
  }

  .apresentacao h3 {
    font-size: 1.5em;
  }
  
  .apresentacao h2 {
    font-size: 2.5em;
  }
  
  .apresentacao p {
    width: 70%;
    margin: 0 auto;
    text-indent: 1em;
    font-size: 1.8em;
  }

  .oQueFazemos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-template-areas: "titulo titulo"
                         "texto img"
                         "texto img";
  }

  .oQueFazemosTitulo {
    margin-top: 5em;
    grid-area: titulo;
  }

  .oQueFazemosParagrafo {
    width: 100%;
    grid-area: texto;
  }

  .arteDuvida {
    grid-area: img;
    width: initial;
  }

  .arteEspecialistas {
    width: initial;
  }

  .arteEscolha {
    width: initial;
  }

  .botaoSaibaMais {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    width: 200px;
    padding: .8em 0;
    transition: .3s;
  }

  .botaoSaibaMais:hover {
    background: #6A70E1 ;
  }


  footer .footerContainer{
    width: 99.9%;
    height: 120px;
    padding: 0 17em;
  }

  footer .logoFooter {
    width: 90px;
  }

  footer p {
    font-size: 1.2em;
    width: initial;
  }

  .redesSociais h4 {
    font-size: .65em;
  }

  .redesSociais .icones {
    font-size: 1.3em;
  }

  .icones i {
    transition: .5s;
  }

  .icones i:hover {
    color: #4E54C8;
  }
}
