@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

.apresentacao {
  font-family: "Nunito", sans-serif;
  color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em 1em 0;
  text-align: justify;
}

.mainApresentacao {
  border-radius: 0.5em;
  background: #e1e1e1;
}

.apresentacao h2,
h3 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}

.apresentacao h2 {
  margin-bottom: .5rem;
  font-size: 1.57em;
}

.apresentacao h3 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.apresentacao p {
  text-indent: 1em;
  font-size: 1.1em;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.apresentacao article {
  margin-bottom: 5em;
}

.apresentacao img {
  display: flex;
  margin: 0 auto 2em;
}

.arteDuvida {
  width: 145px;
}

.arteEspecialistas {
  width: 270px;
}

.arteEscolha {
  width: 230px;
}

.botaoSaibaMais {
  width: 70%;
  margin: 1em auto 0;
  display: flex;
  justify-content: center;
  background: #4e54c8;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}

footer {
  display: flex;
  margin: 4em auto 0;
  background: linear-gradient(249.52deg, #3ac1f0 0%, #4e54c8 100%);
}

footer .footerContainer {
  
  height: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

footer .logoFooter {
  margin-top: 1rem;
  width: 35px;
}

.footerContainer .tituloFooter {
  font-weight: bold;
  text-transform: uppercase;
}

footer p {
  text-align: center;
  font-size: .86rem;
  letter-spacing: .04rem;
}

footer .linksContato {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.linksContato h4 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  height: 15px;
  width: 125px;
  text-align: center;
  font-size: .86rem;
}

.linksContato .icones {
  margin-top: 0.3em;
  list-style: none;
  display: flex;
  font-size: 2em;
}

.linksContato .icones i {
  padding: 0.2em;
}

.icones span {
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 940px) {
  .apresentacao {
    width: 70%;
    flex-wrap: wrap;
    margin: 3em auto;
  }

  .mainApresentacao {
    margin: 0 auto;
  }

  .apresentacao h3 {
    font-size: 1.5em;
  }

  .apresentacao h2 {
    font-size: 2.5em;
  }

  .apresentacao p {
    width: 70%;
    margin: 0 auto;
    text-indent: 1em;
    font-size: 1.5em;
  }

  .oQueFazemos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-around;
    align-items: center;
    grid-template-areas:
      "titulo titulo"
      "texto img"
      "texto img";
  }

  .oQueFazemosTitulo {
    margin-top: 5em;
    grid-area: titulo;
  }

  .oQueFazemosParagrafo {
    width: 100%;
    grid-area: texto;
    margin: 0 0 0 14rem !important;
  }

  .arteDuvida {
    grid-area: img;
    width: 320px;
    margin: 0 0 2rem !important;
  }

  .arteEspecialistas {
    width: 720px;
  }

  .arteEscolha {
    width: 720px;
  }

  .botaoSaibaMais {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    width: 200px;
    padding: 0.8em 0;
    transition: 0.3s;
  }

  .botaoSaibaMais:hover {
    background: #6a70e1;
  }

  footer .footerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
                        " logo  titulo redes"
                        "email stitulo icones";
    width: 70%;
    padding: 0;
  }

  footer .logoFooter {
    width: 60px;
    grid-area: logo;
  }
  
  .tituloFooter {
    font-size: 1.15rem;
    grid-area: titulo;
  }

  .email {
    grid-area: email;
    text-align: left;
  }

  .subtituloFooter {
    grid-area: stitulo;
  }

  .redes {
    grid-area: redes;
    text-align: right;
    font-size: 1.15rem;
    text-transform: uppercase;
  }

  footer p {
    font-size: 1.2em;
    width: initial;
  }

  footer .linksContato {
    justify-self: right;
    list-style: none;
    font-size: 1.5rem;
    width: 140px;
  }

  .linksContato h4 {
    font-size: 0.65em;
  }

  .linksContato .icones {
    font-size: 1.3em;
    grid-area: icones;
  }

  .icones i {
    transition: 0.5s;
  }

  .icones i:hover {
    color: #4e54c8;
  }
}
