@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


.formulario img {
  width: 110px;
  display: flex;
  margin: 1em auto 0;
}

.formulario {
  width: 254px;
  height: 387px;
  margin: 7em  auto 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color:#e5e5e5;
  border-radius: .2em;

}


form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;

}

input {
  white-space: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  padding-left: .3em;
  margin-bottom: 2em;
  border-radius: .3em;
  font-size: 10px;
  border: none;
  width: 120px;
  height: 50px;
}

.cadastro, .login {
  background-color: #4C5ECC ;
  color: #E5E5E5;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

@media (min-width: 940px) {
  

   input {
    white-space: normal;
    word-wrap: break-word;
    font-size: 20px;
    width: 210px;
    height: 80px;
    border-radius: .3em;
    margin-right: 80px;
    margin-left: 80px;
  }



  .formulario {
    margin-top: 100px;
    width: 1170px;
    height: 384px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
                         
  }


  .formulario img {
    width: 418px;
    height: 368px;
    

  }

  form {
    justify-self: center;
    display: block;
  }

}