@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.tituloLogin {
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 20%;
  text-align: center;
  font-size: 1.2em;
}

.formulario img {
  width: 150px;
  display: flex;
  margin: 1em auto .5em;
}

.formulario {
  width: 90%;
  margin: .5em  auto 0;
  padding-top: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color:#e5e5e5;
  border-radius: .2em;
  box-sizing: border-box;
}


form {
  display: flex;
  flex-direction: column;

}

label {
  font-size: 1.2em;
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5em;
  color: #3F3D56;
  text-align: center;
}

input {
  box-sizing: border-box;
  padding-left: .3em;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border: none;
  width: 190px;
  height: 36px;
}

.botaoEntrar {
  background-color: #4D57C9 ;
  color: #E5E5E5;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 940px) {
  .tituloLogin {
    margin-top: 2.3em;
    font-size: 1.7em;
    font-weight: bold;
  }

  .formulario {
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-areas: "img form";
  }


  .formulario img {
    width: initial;
    grid-area: img;
    margin: 0;
  }

  form {
    justify-self: center;
    grid-area: form;
  }

  .botaoEntrar {
    margin-top: 1.5em;
    cursor: pointer;
  }

  .botaoEntrar:hover {
    background: #4050b4;
  }

}
