@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

h4 {
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 2.5em;
  text-align: center;
}

.formulario img {
  width: 130px;
  display: flex;
  margin: 1em auto 0;
}

.formulario {
  width: 254px;
  height: 386px;
  margin: 4em  auto 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color:#e5e5e5;
  border-radius: .2em;

}


form {
  display: flex;
  flex-direction: column;

}
label {
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5em;
  color: #3F3D56;
  text-align: center;
}

input {
  box-sizing: border-box;
  padding-left: .3em;
  margin-bottom: 2em;
  border-radius: .3em;
  border: none;
  width: 190px;
  height: 36px;
}

.enviar {
  background-color: #4D57C9 ;
  color: #E5E5E5;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: bold;
}

@media (min-width: 940px) {
  h4 {
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: .2em;
    text-transform: uppercase;
    justify-content: center;
  }

   input {
    width: 250px;
  }



  .formulario {
    width: 1170px;
    height: 384px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-areas: "img form"
                         
  }


  .formulario img {
    width: 418px;
    height: 368px;
    

  }

  form {
    justify-self: center;
    grid-area: form;
  }

}
