@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(249.52deg, #3AC1F0 0%, #4E54C8 100%);
    margin: 0;
    padding: 0;
}

.feedPersonalizado {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.feedPersonalizado h2 {
    line-height: 61px;
    letter-spacing: 0.1em;
    color: #F5F5F5;
}

.feedPersonalizado p {
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #E5E5E5;
    padding: 0 25px;
    margin: auto;
}


.pagina img {
    width: 200px;
    display: flex;
    margin: 1em auto 0;
    margin-top: 30px;
}

.icones {
    display: flex;
    list-style: none;
    justify-content:center;
    margin-top: 10px;
}

.icones li {
    padding: 10px;
}


@media (min-width: 940px) {
    .pagina {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center; 
        align-items: center;
        grid-template-areas: "imagem feed";
        margin: auto;
        padding: 20px;                    
    }
    
    
    .pagina img {
        width: 80%;
        align-items: center;
        grid-area: imagem;
    }

    .feedPersonalizado h2 {
        font-size: 45px;
    }
    
    .feedPersonalizado p {
        font-size: 30px;
    }

    .icones {;
        font-size: 2em;
    }
}

