@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=Nunito:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(249.52deg, #3ac1f0 0%, #4e54c8 100%);
  min-height: 100vh;
  position: relative;
}

.titulo {
  color: #f5f5f5;
  text-align: left;
  margin-left: 7.5%;
  font-family: 'Kodchasan', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.conteudoPrincipal {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
}

.cursos {
  text-decoration: none;
  text-align: center;
  margin-bottom: 1rem;
}

.cursos img {
  width: 70%;
  max-width: 300px;
}

.botao {
  border: none;
  width: 80px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "nunito", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.botaoMenu {
  background: #4e54c8;
  color: #e5e5e5;
}

.botaoArtigos {
  background: #3ac1f0;
  color: #e5e5e5;
}

@media (min-width: 940px) {
  .titulo {
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0 1% 50%;
  }

  .conteudoPrincipal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    min-height: 70vh;
    margin:0 0 0 18%;
    align-items: center;
  }

  .cursos {
    width: 300px;
    transition: .3s;
  }

  .cursos:hover {
    opacity: .85;
  }

}
