<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/headerOutrasPaginas.css">
    <link rel="stylesheet" href="../css/estiloacesso.css">
    
    <script src="https://kit.fontawesome.com/110e73ee38.js" crossorigin="anonymous"></script>
    <title>Acesso | Conatus</title>
</head>

<body>

    <header>

        <div class="headerContainer">

            <div class="logoContainer">
                <img src="../images/logo.svg" alt="Logo da Conatus">
                <span>Conatus</span>
            </div>

            <nav class="navBar">
                <a href="../index.html" class="botaoInicio">Início</a>
                <div class="iconeVoltar">
                    <a href="../index.html"><img src="../images/arrow-back.svg" alt="botão para voltar a página inicial"></a>
                </div>

    </header>

    <h2 class="tituloAcesso">Área de acesso</h2>

    <div class="escolha">
        <a class="botaoEscolha" href="cadastro.html" title="Clique para se cadastrar">Preciso me cadastrar</a>
        <a class="botaoEscolha" href="login.html" title="Clique para acessar sua conta">Já possuo cadastro</a>

        <img src="../images/arte_menina.svg" alt="Logo da Menina" title="Menina com um sinal de interrogação próximo a ela">
    </div>

    <script src="../scripts/script.js"></script>
</body>

</html>